* {
    background-color: silver;
    color: black;
    font-family: Iosevka Webfont;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px
  }

@font-face {
    font-family: Iosevka Webfont;
    font-style: normal;
    font-weight: 100;
    src: url(woff2/iosevka-regular.woff2);
}

@font-face {
    font-family: Iosevka Webfont;
    font-style: normal;
    font-weight: bolder;
    src: url(woff2/iosevka-ss08-bold.woff2);
}

h1, h2, h3 *{
    font-weight: bolder;
}

h2, h3 {
    font-style: italic;
}

p, a, td, li {
    font-weight: 300;
}

hr {
    border-color: black;
}

#separator, a {
    display: inline;
}


#profile {
    border: 10px solid black;
}

#info *{
    font-size: 14px;
}
