/* General Styles */
:root {
  --clr-body-bg: #0f0f0f;
  --clr-body-text: #0f0f0f;
  --clr-navbar-bg: #0f0f0f;
  --clr-navbar-text: #cacaca;
  --clr-container-bg: #cacaca;
  --clr-hamburger-bg: #cacaca;
  --clr-off-screen-menu-txt: #cacaca;
  --font-regular: JetBrains Mono;
  --font-bold: JetBrains Mono Bold;
  --clr-link-visited: #b71c1c;
}

.dark {
  --clr-body-bg: #0f0f0f;
  --clr-body-text: #0f0f0f;
  --clr-navbar-bg: #0f0f0f;
  --clr-navbar-text: #cacaca;
  --clr-container-bg: #cacaca;
  --clr-hamburger-bg: #cacaca;
  --clr-off-screen-menu-txt: #cacaca;
  --clr-link-visited: #b71c1c;
}

.midnight {
  --clr-body-bg: #0f0f0f;
  --clr-body-text: #CACACA;
  --clr-navbar-bg: #0f0f0f;
  --clr-navbar-text: #cacaca;
  --clr-container-bg: #1B1B1B;
  --clr-hamburger-bg: #cacaca;
  --clr-off-screen-menu-txt: #cacaca;
  --clr-link-visited: #b71c1c;
}

.light {
  --clr-body-bg: #cacaca;
  --clr-body-text: #0f0f0f;
  --clr-navbar-bg: #cacaca;
  --clr-navbar-text: #0f0f0f;
  --clr-container-bg: #cacaca;
  --clr-hamburger-bg: #0f0f0f;
  --clr-off-screen-menu-txt: #0f0f0f;
  --clr-link-visited: #b71c1c;
}

.catppuccin-dark {
  --clr-body-bg: #11111b;
  --clr-body-text: #cdd6f4;
  --clr-navbar-bg: #0f0f0f;
  --clr-navbar-text: #cdd6f4;
  --clr-container-bg: #1e1e2e;
  --clr-hamburger-bg: #cdd6f4;
  --clr-off-screen-menu-txt: #cdd6f4;
  --clr-link-visited: #89b4fa;
}

/* Font Faces */
@font-face {
  font-family: "Iosevka Webfont";
  font-style: normal;
  src: url("/woff2/iosevka-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Iosevka Webfont Bold";
  font-style: normal;
  font-weight: bold;
  src: url("/woff2/iosevka-ss08-bold.woff2") format("woff2");
}
@font-face {
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: normal;
  src: url("/woff2/JetBrainsMono-Regular.woff2") format("woff2");
}
@font-face {
  font-family: JetBrains Mono Bold;
  font-style: normal;
  font-weight: bold;
  src: url("/woff2/JetBrainsMono-Bold.woff2") format("woff2");
}
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: var(--font-regular);
  color: var(--clr-body-text);
  background-color: var(--clr-body-bg);
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  padding-bottom: 0;
  transition: 0.3s ease;
}

.hidden {
  opacity: 0;
}

/* Navbar Styles */
.off-screen-menu {
  display: none;
}

.navbar {
  width: 100vw;
  max-width: 800px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 36px;
}

.navbar-left {
  white-space: nowrap;
  font-family: var(--font-regular);
  font-weight: bold;
}

.navbar-left p {
  margin: 0;
  padding-left: 15px; /* Adjust padding if needed */
  padding-right: 15px;
}

.navbar-left a, .navbar-right a, .dropdown-content a {
  color: var(--clr-navbar-text);
  text-decoration: none;
  font-family: var(--font-regular);
}

.navbar-left a {
  color: var(--clr-navbar-text);
  text-decoration: none;
  font-family: var(--font-bold);
}

.navbar-right {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-right button {
  align-items: center;
}

.navbar-right ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-right li {
  margin: 0 5px;
}

.navbar-right a:hover {
  text-decoration: underline;
}

.nav-links {
  display: flex; /* Arrange items in a row */
  align-items: center; /* Vertically align items */
  justify-content: space-between; /* Space out the items */
  gap: 20px; /* Add optional spacing between list and button */
}

.nav-links ul {
  display: flex; /* Arrange list items in a row */
  align-items: center; /* Vertically align list items */
  list-style: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px; /* Horizontal spacing between list items */
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 45px; /* Adjust this based on the button's position */
  right: 0;
  background-color: var(--clr-body-bg);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 3;
  min-width: 160px;
}

.dropdown-content a {
  outline: 1px solid var(--clr-navbar-text);
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--clr-container-bg);
  color: var(--clr-body-text);
}

#theme-switch, #theme-switch-ham {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

#theme-switch svg, #theme-switch-ham svg {
  fill: var(--clr-navbar-text);
}

.hamburger {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  /* transition: all 0.3s ease-in-out; */
  background-color: var(--clr-hamburger-bg);
}

.theme-selector > fieldset {
  border: 0;
}

/* Table Styles */
table, th, td {
  font-family: var(--font-regular);
  border: 2px solid var(--clr-body-text);
  border-collapse: collapse;
  padding: 6px 12px;
}

table {
  margin: 0 auto;
  text-align: center;
}

th {
  font-weight: bold;
}

td {
  font-weight: 300;
}

.container {
  background-color: var(--clr-container-bg);
  outline: 1px solid var(--clr-navbar-text);
  border-radius: 0;
  box-sizing: border-box;
  padding: 35px;
  max-width: 800px;
  width: 100%;
  min-height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  margin-top: 100px;
  transition: max-width 0.5s ease;
}

.hobbies-container {
  text-align: center;
}

.hobbies-container li {
  margin: 5px 0;
}

#profile {
  border: 5px solid var(--clr-body-bg);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 128px;
  height: 128px;
  position: absolute;
  top: -64px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

/* Text Styles */
.warning {
  color: #ff0000;
}

h1, h2, h3 {
  font-family: var(--font-bold);
  color: var(--clr-body-text);
  text-align: left;
}

p {
  font-family: var(--font-regular);
  font-size: 16px;
  text-align: left;
}

#home .container h1,
#home .container p {
  text-align: center;
}

#home .container .image-container {
  padding-top: 35px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
}

#home .container .image {
  width: 45%;
  max-height: -moz-fit-content;
  max-height: fit-content;
  box-sizing: border-box;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

#home .container .image img {
  outline: 1px solid var(--clr-body-text);
  display: flex;
  position: relative;
  width: 100%;
}

#home .container .image-description,
#home .container .image-description-right {
  gap: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

#home .container .image-description {
  padding-right: 0;
}

#home .container .image-description-right {
  padding-left: 0;
}

#home .container .image-container a, #home .container .image-container a:visited, #home .container .image-container-right a, #home .container .image-container-right a:visited {
  color: var(--clr-body-text);
}
#home .container .image-container a:hover, #home .container .image-container-right a:hover {
  text-decoration: none;
}

#home .container .image-description h2,
#home .container .image-description-right h2 {
  text-align: left;
  height: auto;
  margin: 0;
  padding-left: 10px;
}

#home .container .image-description p,
#home .container .image-description-right p {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

#home .container .image-container-right {
  padding-top: 35px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
}

#home .container .image-container-right .image {
  margin-left: auto;
  width: 45%; /* Ensure image width is 45% on the right as well */
  box-sizing: border-box;
}

#about .container h1,
#about .container h3,
#about .container p {
  text-align: center;
}

#about .container ul {
  display: inline-block;
  text-align: center;
  font-family: var(--font-regular);
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

#about .container hr {
  border-color: var(--clr-body-text);
  width: 50%;
}

#about .container #signature-img {
  display: block;
  margin: 0 auto;
}

#about .container #info * {
  font-size: 14px;
  text-align: center;
}

#about .container #separator {
  display: inline;
}

#about .container .links a {
  color: var(--clr-body-text);
  font-family: var(--font-regular);
  font-weight: 300;
  text-decoration: underline;
}

#projects .container p,
#projects .container h1 {
  text-align: left;
  padding: 0 5%;
}

#projects .container a {
  color: var(--clr-body-text);
  word-wrap: break-word;
}

#projects .container a:visited {
  color: var(--clr-link-visited);
}

#wallpapersync .container h1,
#wallpapersync .container h2,
#wallpapersync .container h3,
#wallpapersync .container p {
  text-align: left;
}

#wallpapersync .container p {
  text-indent: 40px;
  padding: 0;
  line-height: 30px;
}

#wallpapersync .container a {
  color: var(--clr-body-text);
}

#wallpapersync .container a:visited {
  color: var(--clr-link-visited);
}

#wallpapersync .container .code-snippet {
  position: relative;
  outline: var(--clr-body-text) 1px solid;
}

#wallpapersync .container code {
  white-space: pre-wrap;
  word-wrap: break-word;
  outline: var(--clr-body-text) 1px solid;
  padding: 3px 10px;
}

#wallpapersync .container .code-snippet code {
  outline: none;
}

#wallpapersync .container .code-snippet pre {
  padding: 10px 20px;
  line-height: 1.75;
}

#wallpapersync .container img {
  margin-top: 50px;
  margin-bottom: 50px;
  outline: 1px solid var(--clr-body-text);
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

#gallery .container nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gallery .container nav a {
  color: var(--clr-body-text);
  text-decoration: none;
}

#gallery .container nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding-inline-start: 0;
}

#gallery .container .gallery-nav button {
  background-color: transparent;
  border: none;
  color: var(--clr-body-text);
  font-family: var(--font-regular);
  font-size: 16px;
  cursor: pointer;
}

#gallery .container .gallery-nav button.nav-button.active {
  background-color: var(--clr-body-text);
  color: var(--clr-container-bg);
}

#gallery .photography-container,
#gallery .ai-container,
#gallery .forza-container {
  display: none; /* Hide all sections by default */
  opacity: 0;
  transition: opacity 0.5s ease;
}
#gallery .active {
  display: flex;
  opacity: 1;
}

#gallery .container .photography-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

#gallery .container .photography-container .column {
  display: flex;
  flex-direction: column;
  width: 32.5%;
  align-items: center;
  gap: 20px;
}

#gallery .container .photography-container .column img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#gallery .container .photography-container .column img:hover {
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease;
  outline: var(--clr-body-text) 1px solid;
  width: 103%;
}

#gallery .container .ai-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

#gallery .container .ai-container .column {
  display: flex;
  flex-direction: column;
  width: 32.5%;
  align-items: center;
  gap: 20px;
}

#gallery .container .ai-container .column img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#gallery .container .ai-container .column img:hover {
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease;
  outline: var(--clr-body-text) 1px solid;
  width: 103%;
}

#gallery .container .forza-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

#gallery .container .forza-container .column {
  display: flex;
  flex-direction: column;
  width: 32.5%;
  align-items: center;
  gap: 20px;
}

#gallery .container .forza-container .column img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#gallery .container .forza-container .column img:hover {
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease;
  outline: var(--clr-body-text) 1px solid;
  width: 103%;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar {
    height: 100px;
    top: 0px;
  }
  .navbar-left {
    padding-left: 5px;
  }
  .navbar-right {
    padding-right: 20px;
  }
  .nav-links {
    display: none;
  }
  .nav-item {
    opacity: 1;
  }
  .off-screen-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .off-screen-menu a {
    color: var(--clr-off-screen-menu-txt);
  }
  .off-screen-menu {
    z-index: 2;
    text-decoration: none;
    background-color: var(--clr-body-bg);
    height: 100vh;
    width: 100%;
    max-width: 90%;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s ease;
  }
  .off-screen-menu.active {
    right: 0;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .off-screen-menu li {
    margin: 35px 0;
  }
  .theme-options {
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none; /* Prevent interactions when hidden */
  }
  li.theme-options {
    margin: 0;
  }
  .hidden {
    opacity: 0;
    pointer-events: none;
  }
  .container {
    height: 100%;
    max-width: 800px;
    padding-bottom: 30px; /* Ensure there's enough bottom padding */
  }
  #home .container .image-container {
    align-items: center;
    flex-direction: column;
  }
  #home .container .image-container-right {
    align-items: center;
    flex-direction: column-reverse;
  }
  #home .container .image-container-right .image {
    margin: auto;
  }
  #home .container .image-description {
    padding: 0;
    padding-top: 35px;
  }
  #home .container .image-description p,
  #home .container .image-description h2 {
    padding: 0;
    text-align: center;
  }
  #home .container .image-description-right {
    padding: 0;
    padding-top: 35px;
  }
  #home .container .image-description-right p,
  #home .container .image-description-right h2 {
    padding: 0;
    text-align: center;
  }
  #home .container .image-container .image,
  #home .container .image-container-right .image {
    width: 100%;
  }
  #wallpapersync .container p {
    text-indent: 0;
  }
  #home .container .image-description {
    padding: 0;
    padding-top: 35px;
  }
  #home .container .image-description p,
  #home .container .image-description h2 {
    padding: 0;
    text-align: center;
  }
  #home .container .image-description-right {
    padding: 0;
    padding-top: 35px;
  }
  #home .container .image-description-right p,
  #home .container .image-description-right h2 {
    padding: 0;
    text-align: center;
  }
  #home .container .image-container .image,
  #home .container .image-container-right .image {
    width: 100%;
  }
  #wallpapersync .container p {
    text-indent: 0;
  }
  #gallery .container .gallery-nav button {
    font-size: 14px;
  }
  #gallery .container .photography-container, #gallery .container .ai-container, #gallery .container .forza-container {
    gap: 20px;
    flex-direction: column;
  }
  #gallery .container .photography-container .column, #gallery .container .ai-container .column, #gallery .container .forza-container .column {
    width: 100%;
  }
  #gallery .hamburger.active {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */