.site-nav__drawer {
  display: none;
}

.site-nav {
  width: 100%;
  max-width: 800px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 36px;
  transition: max-width 0.5s ease;

  &__brand {
    white-space: nowrap;
    font-family: var(--font-regular);
    font-weight: bold;

    p {
      margin: 0;
      padding: 0 15px;
    }

    a {
      font-family: var(--font-bold);
    }
  }

  &__brand a,
  &__actions a,
  .theme-picker__menu a {
    color: var(--clr-navbar-text);
    text-decoration: none;
    font-family: var(--font-regular);
  }

  &__actions {
    padding: 0 15px;

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0 5px;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0 10px;
    }
  }

  &__hamburger {
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 3;
  }
}

.theme-picker__menu {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  background-color: var(--clr-body-bg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 3;
  min-width: 160px;

  a {
    outline: 1px solid var(--clr-navbar-text);
    padding: 12px 16px;
    display: block;

    &:hover {
      background-color: var(--clr-container-bg);
      color: var(--clr-body-text);
    }
  }
}

#theme-switch,
#theme-switch-ham {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  svg {
    fill: var(--clr-navbar-text);
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 3;

  &__bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--clr-hamburger-bg);
  }
}

.theme-selector > fieldset {
  border: 0;
}
