:root {
  --clr-body-bg: #0f0f0f;
  --clr-body-text: #0f0f0f;
  --clr-navbar-bg: #0f0f0f;
  --clr-navbar-text: #cacaca;
  --clr-container-bg: #cacaca;
  --clr-hamburger-bg: #cacaca;
  --clr-off-screen-menu-txt: #cacaca;
  --font-regular: JetBrains Mono;
  --font-bold: JetBrains Mono Bold;
  --clr-link-visited: #b71c1c;
}

.dark {
  --clr-body-bg: #0f0f0f;
  --clr-body-text: #0f0f0f;
  --clr-navbar-bg: #0f0f0f;
  --clr-navbar-text: #cacaca;
  --clr-container-bg: #cacaca;
  --clr-hamburger-bg: #cacaca;
  --clr-off-screen-menu-txt: #cacaca;
  --clr-link-visited: #b71c1c;
}

.midnight {
  --clr-body-bg: #0f0f0f;
  --clr-body-text: #cacaca;
  --clr-navbar-bg: #0f0f0f;
  --clr-navbar-text: #cacaca;
  --clr-container-bg: #1b1b1b;
  --clr-hamburger-bg: #cacaca;
  --clr-off-screen-menu-txt: #cacaca;
  --clr-link-visited: #b71c1c;
}

.light {
  --clr-body-bg: #cacaca;
  --clr-body-text: #0f0f0f;
  --clr-navbar-bg: #cacaca;
  --clr-navbar-text: #0f0f0f;
  --clr-container-bg: #cacaca;
  --clr-hamburger-bg: #0f0f0f;
  --clr-off-screen-menu-txt: #0f0f0f;
  --clr-link-visited: #b71c1c;
}

.catppuccin-dark {
  --clr-body-bg: #11111b;
  --clr-body-text: #cdd6f4;
  --clr-navbar-bg: #0f0f0f;
  --clr-navbar-text: #cdd6f4;
  --clr-container-bg: #1e1e2e;
  --clr-hamburger-bg: #cdd6f4;
  --clr-off-screen-menu-txt: #cdd6f4;
  --clr-link-visited: #89b4fa;
}

@font-face {
  font-family: "Iosevka Webfont";
  font-style: normal;
  src: url("../fonts/iosevka-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Iosevka Webfont Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/iosevka-ss08-bold.woff2") format("woff2");
}
@font-face {
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
}
@font-face {
  font-family: JetBrains Mono Bold;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/JetBrainsMono-Bold.woff2") format("woff2");
}
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: var(--font-regular);
  color: var(--clr-body-text);
  background-color: var(--clr-body-bg);
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  padding-bottom: 0;
  transition: 0.3s ease;
}

.u-hidden {
  opacity: 0;
}

.u-visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

.site-nav__drawer {
  display: none;
}

.site-nav {
  width: 100%;
  max-width: 800px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 36px;
}

.site-nav__brand {
  white-space: nowrap;
  font-family: var(--font-regular);
  font-weight: bold;
}

.site-nav__brand p {
  margin: 0;
  padding: 0 15px;
}

.site-nav__brand a,
.site-nav__actions a,
.theme-picker__menu a {
  color: var(--clr-navbar-text);
  text-decoration: none;
  font-family: var(--font-regular);
}

.site-nav__brand a {
  font-family: var(--font-bold);
}

.site-nav__actions {
  padding: 0 15px;
}

.site-nav__actions button {
  align-items: center;
}

.site-nav__actions ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav__actions li {
  margin: 0 5px;
}

.site-nav__actions a:hover {
  text-decoration: underline;
}

.site-nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.site-nav__links ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav__links li {
  margin: 0 10px;
}

.theme-picker__menu {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  background-color: var(--clr-body-bg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 3;
  min-width: 160px;
}

.theme-picker__menu a {
  outline: 1px solid var(--clr-navbar-text);
  padding: 12px 16px;
  display: block;
}

.theme-picker__menu a:hover {
  background-color: var(--clr-container-bg);
  color: var(--clr-body-text);
}

#theme-switch,
#theme-switch-ham {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

#theme-switch svg,
#theme-switch-ham svg {
  fill: var(--clr-navbar-text);
}

.site-nav__hamburger,
.hamburger {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.hamburger__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-hamburger-bg);
}

.theme-selector > fieldset {
  border: 0;
}

.page__content {
  background-color: var(--clr-container-bg);
  outline: 1px solid var(--clr-navbar-text);
  border-radius: 0;
  box-sizing: border-box;
  padding: 35px;
  max-width: 800px;
  width: 100%;
  min-height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  margin-top: 100px;
  transition: max-width 0.5s ease;
}

table,
th,
td {
  font-family: var(--font-regular);
  border: 2px solid var(--clr-body-text);
  border-collapse: collapse;
  padding: 6px 12px;
}

table {
  margin: 0 auto;
  text-align: center;
}

th {
  font-weight: bold;
}

td {
  font-weight: 300;
}

.about__hobbies {
  text-align: center;
}

.about__hobbies li {
  margin: 5px 0;
}

.about__avatar {
  border: 5px solid var(--clr-body-bg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 128px;
  height: 128px;
  position: absolute;
  top: -64px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.u-warning {
  color: #ff0000;
}

h1,
h2,
h3 {
  font-family: var(--font-bold);
  color: var(--clr-body-text);
  text-align: left;
}

p {
  font-family: var(--font-regular);
  font-size: 16px;
  text-align: left;
}

.page--home .page__content h1,
.page--home .page__content p {
  text-align: center;
}

.page--home .page__content .feature-row {
  padding-top: 35px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
}

.page--home .page__content .feature-row__media {
  width: 45%;
  max-height: fit-content;
  box-sizing: border-box;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

.page--home .page__content .feature-row__media img {
  outline: 1px solid var(--clr-body-text);
  display: flex;
  position: relative;
  width: 100%;
}

.page--home .page__content .feature-row__body {
  gap: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

.page--home .page__content .feature-row:not(.feature-row--reverse) .feature-row__body {
  padding-right: 0;
}

.page--home .page__content .feature-row--reverse .feature-row__body {
  padding-left: 0;
}

.page--home .page__content .feature-row a,
.page--home .page__content .feature-row a:visited,
.page--home .page__content .feature-row--reverse a,
.page--home .page__content .feature-row--reverse a:visited {
  color: var(--clr-body-text);
}
.page--home .page__content .feature-row a:hover,
.page--home .page__content .feature-row--reverse a:hover {
  text-decoration: none;
}

.page--home .page__content .feature-row__body h2 {
  text-align: left;
  height: auto;
  margin: 0;
  padding-left: 10px;
}

.page--home .page__content .feature-row__body p {
  margin: 0;
  padding: 0 10px;
  text-align: left;
}

.page--home .page__content .feature-row--reverse {
  padding-top: 35px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
}

.page--home .page__content .feature-row--reverse .feature-row__media {
  margin-left: auto;
  width: 45%;
  box-sizing: border-box;
}

.page--about .page__content h1,
.page--about .page__content h3,
.page--about .page__content p {
  text-align: center;
}

.page--about .page__content ul {
  display: inline-block;
  text-align: center;
  font-family: var(--font-regular);
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.page--about .page__content hr {
  border-color: var(--clr-body-text);
  width: 50%;
}

.page--about .page__content .about__footer * {
  font-size: 14px;
  text-align: center;
}

.page--about .page__content .about__separator {
  display: inline;
}

.page--about .page__content .about__footer-links a {
  color: var(--clr-body-text);
  font-family: var(--font-regular);
  font-weight: 300;
  text-decoration: underline;
}

.about__signature-wrapper {
  margin-top: 3rem;
  text-align: center;
}

.about__signature-line {
  margin-top: 0;
  border-color: var(--clr-body-text);
  width: 50%;
}

.about__signature-img {
  display: block;
  margin: 0 auto;
}

#projects .container h1,
#projects .container p {
  text-align: left;
  padding: 0;
}
#projects .container a {
  color: #0000ee;
  word-wrap: break-word;
}
#projects .container a:visited {
  color: var(--clr-link-visited);
}

.dark #projects .container a,
.midnight #projects .container a,
.catppuccin-dark #projects .container a {
  color: #8ab4f8;
}

.page--wallpapersync .page__content h1,
.page--wallpapersync .page__content h2,
.page--wallpapersync .page__content h3,
.page--wallpapersync .page__content p {
  text-align: left;
}

.page--wallpapersync .page__content p {
  text-indent: 40px;
  padding: 0;
  line-height: 30px;
}

.page--wallpapersync .page__content a {
  color: var(--clr-body-text);
}

.page--wallpapersync .page__content a:visited {
  color: var(--clr-link-visited);
}

.page--wallpapersync .page__content .code-block {
  position: relative;
  outline: 1px solid var(--clr-body-text);
}

.page--wallpapersync .page__content code {
  white-space: pre-wrap;
  word-wrap: break-word;
  outline: 1px solid var(--clr-body-text);
  padding: 3px 10px;
}

.page--wallpapersync .page__content .code-block code {
  outline: none;
}

.page--wallpapersync .page__content .code-block pre {
  padding: 10px 20px;
  line-height: 1.75;
}

.page--wallpapersync .page__content img {
  margin: 50px auto;
  outline: 1px solid var(--clr-body-text);
  display: block;
  width: 75%;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

.page--gallery .page__content .gallery-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page--gallery .page__content .gallery-tabs a {
  color: var(--clr-body-text);
  text-decoration: none;
}

.page--gallery .page__content .gallery-tabs ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding-inline-start: 0;
}

.page--gallery .page__content .gallery-tabs__btn {
  background-color: transparent;
  border: none;
  color: var(--clr-body-text);
  font-family: var(--font-regular);
  font-size: 16px;
  cursor: pointer;
}

.page--gallery .page__content .gallery-tabs__btn.is-active {
  background-color: var(--clr-body-text);
  color: var(--clr-container-bg);
}

.page--gallery .gallery-grid--photography,
.page--gallery .gallery-grid--ai,
.page--gallery .gallery-grid--forza {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.page--gallery .gallery-grid--photography.is-visible,
.page--gallery .gallery-grid--ai.is-visible,
.page--gallery .gallery-grid--forza.is-visible {
  display: flex;
  opacity: 1;
}

.page--gallery .page__content .gallery-grid--photography,
.page--gallery .page__content .gallery-grid--ai,
.page--gallery .page__content .gallery-grid--forza {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  gap: 20px;
}

.page--gallery .page__content .gallery-grid--photography .gallery-grid__column,
.page--gallery .page__content .gallery-grid--ai .gallery-grid__column,
.page--gallery .page__content .gallery-grid--forza .gallery-grid__column {
  display: flex;
  flex-direction: column;
  width: 32.5%;
  align-items: center;
  gap: 20px;
}

.page--gallery .page__content .gallery-grid--photography .gallery-grid__column img,
.page--gallery .page__content .gallery-grid--ai .gallery-grid__column img,
.page--gallery .page__content .gallery-grid--forza .gallery-grid__column img {
  width: 100%;
  object-fit: cover;
}

.page--gallery .page__content .gallery-grid--photography .gallery-grid__column img:hover,
.page--gallery .page__content .gallery-grid--ai .gallery-grid__column img:hover,
.page--gallery .page__content .gallery-grid--forza .gallery-grid__column img:hover {
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease;
  outline: 1px solid var(--clr-body-text);
  width: 103%;
}

@media (max-width: 768px) {
  .site-nav__hamburger,
  .hamburger {
    display: block;
  }
  .site-nav__hamburger.active .hamburger__bar:nth-child(2),
  .hamburger.active .hamburger__bar:nth-child(2) {
    opacity: 0;
  }
  .site-nav__hamburger.active .hamburger__bar:nth-child(1),
  .hamburger.active .hamburger__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .site-nav__hamburger.active .hamburger__bar:nth-child(3),
  .hamburger.active .hamburger__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .site-nav {
    height: 100px;
    top: 0;
  }
  .site-nav__brand {
    padding-left: 5px;
  }
  .site-nav__actions {
    padding-right: 20px;
  }
  .site-nav__links {
    display: none;
  }
  .site-nav__drawer-item {
    opacity: 1;
  }
  .site-nav__drawer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .site-nav__drawer a {
    color: var(--clr-off-screen-menu-txt);
  }
  .site-nav__drawer {
    z-index: 2;
    text-decoration: none;
    background-color: var(--clr-body-bg);
    height: 100vh;
    width: 100%;
    max-width: 90%;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s ease;
  }
  .site-nav__drawer.active {
    right: 0;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .site-nav__drawer li {
    margin: 35px 0;
  }
  .theme-picker__drawer-options {
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
  }
  li.theme-picker__drawer-options {
    margin: 0;
  }
  .u-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .page__content {
    height: 100%;
    max-width: 800px;
    padding-bottom: 30px;
  }
  .page--home .page__content .feature-row {
    align-items: center;
    flex-direction: column;
  }
  .page--home .page__content .feature-row--reverse {
    align-items: center;
    flex-direction: column-reverse;
  }
  .page--home .page__content .feature-row--reverse .feature-row__media {
    margin: auto;
  }
  .page--home .page__content .feature-row__body {
    padding: 0;
    padding-top: 35px;
  }
  .page--home .page__content .feature-row__body p,
  .page--home .page__content .feature-row__body h2 {
    padding: 0;
    text-align: center;
  }
  .page--home .page__content .feature-row__media,
  .page--home .page__content .feature-row--reverse .feature-row__media {
    width: 100%;
  }
  .page--wallpapersync .page__content p {
    text-indent: 0;
  }
  .page--gallery .page__content .gallery-tabs__btn {
    font-size: 14px;
  }
  .page--gallery .page__content .gallery-grid--photography,
  .page--gallery .page__content .gallery-grid--ai,
  .page--gallery .page__content .gallery-grid--forza {
    gap: 20px;
    flex-direction: column;
  }
  .page--gallery .page__content .gallery-grid--photography .gallery-grid__column,
  .page--gallery .page__content .gallery-grid--ai .gallery-grid__column,
  .page--gallery .page__content .gallery-grid--forza .gallery-grid__column {
    width: 100%;
  }
  .page--gallery .site-nav__hamburger.active,
  .page--gallery .hamburger.active {
    display: block;
  }
}
