---
layout: base.njk
noMarkdownWrapper: true
---
<div class="resume-container">
  {% include "resume/header.njk" %}
  {% include "resume/skills.njk" %}
  {% include "resume/projects.njk" %}
  {% include "resume/education.njk" %}
  {% include "resume/interests.njk" %}
</div>
