<!doctype html>
<html>
  <head>
    <link
      rel="preload"
      href="/assets/fonts/JetBrainsMono-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/JetBrainsMono-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>WallpaperSync</title>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="page page--wallpapersync" data-page="wallpapersync">

    {% include "drawer.njk" %}

    {% include "navbar.njk" %}

    <main class="page__content">
      <article class="project-details">
        <img src="/assets/img/WallpaperSync.jpg" alt="WallpaperSync project banner" />
        <h1>How it works</h1>
        <h2>
          <a
            href="https://www.reddit.com/r/pcmasterrace/comments/1edjz55/made_this_script_that_changes_rgb_color_depending/"
            >Demo</a
          >
        </h2>
        <h2>Real-time wallpaper monitoring:</h2>
        <p>
          WallpaperSync uses <a href="https://github.com/gorakhargosh/watchdog">Watchdog</a> to
          monitor the system wallpaper from the default wallpaper path
          <code>%appdata%/Microsoft/Windows/Themes/TranscodedWallpaper</code>. The monitoring starts
          with the instantiation of the <code>WallpaperHandler</code> class
        </p>
        <div class="code-block">
          <pre>
            <code>
path_to_wallpaper = os.path.join(local_folder, 'TranscodedWallpaper.png')
print("Monitoring wallpaper changes...")
event_handler = WallpaperHandler(original_path, path_to_wallpaper, ip, port)</code>
          </pre>
        </div>
        <p>
          The Observer starts listening for modifications to the specified wallpaper file. Upon
          detecting changes, it triggers the on_modified method defined in the WallpaperHandler
          class.
        </p>
        <div class="code-block">
          <pre>
            <code>
observer = Observer()
observer.schedule(event_handler, path=os.path.dirname(original_path), recursive=False)
observer.start()</code>
          </pre>
        </div>
        <h2>Color Palette Extraction:</h2>
        <p>
          After obtaining the new wallpaper, the script extracts the dominant colors using the
          <code>ColorThief</code> library. This functionality is encapsulated in the
          <code>process_wallpaper</code> function.
        </p>
        <div class="code-block">
          <pre>
            <code>
def process_wallpaper(path_to_wallpaper: str) -> Tuple[List[Tuple[int, int, int]], Tuple[int, int, int]]:
    color_thief = ColorThief(path_to_wallpaper)
    palette = color_thief.get_palette(color_count=6)</code>
          </pre>
        </div>
        <p>
          The <code>ColorThief</code> class is instantiated with the path to the wallpaper, and the
          <code>get_palette</code> method extracts a palette of colors. The palette is then filtered
          to exclude nearly white colors using the <code>is_near_white</code> function.
        </p>
        <h2>Color Adjustment:</h2>
        <div class="code-block">
          <pre>
            <code>
def check_palette(palette: List[Tuple[int, int, int]], tolerance: float = 10.0, threshold: float = 50.0) -> str:

    ...</code>
          </pre>
        </div>
        <p>
          This function uses two inner functions, <code>is_greyscale()</code> and
          <code>is_low_contrast()</code>, to classify the palette based on defined thresholds.
        </p>
        <p>
          Based on the classification, the script adjusts the selected colors. For instance, if the
          palette is classified as "greyscale," it sets a default color of white:
        </p>
        <div class="code-block">
          <pre>
            <code>
if palette_type == 'greyscale':
    adjusted_rgb1 = (255, 255, 255)  # White</code>
          </pre>
        </div>
        <p>
          If it is classified as "low contrast," it identifies the most saturated color and enhances
          its vibrance:
        </p>
        <div class="code-block">
          <pre>
            <code>
most_saturated_color = max(filtered_palette, key=get_saturation)
adjusted_rgb1 = adjust_saturation_vibrance(most_saturated_color)</code>
          </pre>
        </div>
        <h2>Configuring LEDs:</h2>
        <p>
          The script utilizes the OpenRGB client to connect to the LED devices and configure their
          colors based on the extracted palette.
        </p>
        <div class="code-block">
          <pre>
            <code>
def configure_leds(adjusted_rgb1: Tuple[int, int, int], ip: str, port: int):
    client = OpenRGBClient(ip, port, 'Wal.py')
    client.connect()

    target_color = RGBColor(*adjusted_rgb1)
    fade_color_transition(client, target_color)</code>
          </pre>
        </div>
        <p>
          Here, the script creates a connection to the OpenRGB server using the specified IP address
          and port. It then calls the <code>fade_color_transition</code> function to smoothly
          transition the LED colors to match the wallpaper.
        </p>
        <h2>Fading Color Transition</h2>
        <div class="code-block">
          <pre>
            <code>
def fade_color_transition(client: OpenRGBClient, target_color: RGBColor, duration: int = 1, steps: int = 20):
    current_colors = [device.colors[0] for device in client.devices]

...</code>
          </pre>
        </div>
        <p>
          The fade_color_transition function gradually changes the LED colors from the current state
          to the new target color over a specified duration and number of steps
        </p>
        <p>
          The function calculates the intermediate color for each step and applies it to all
          connected LED devices, creating a smooth fading effect.
        </p>
        <h2>Configuration Management</h2>
        <div class="code-block">
          <pre>
            <code>
def load_config(config_file: str) -> Tuple[str, int]:
    if os.path.isfile(config_file):
        with open(config_file, 'r') as file:
            config = json.load(file)
            return config.get('ip', 'localhost'), config.get('port', 6742)
    return 'localhost', 6742</code>
          </pre>
        </div>
        <p>
          The script supports loading and saving configurations through JSON files, allowing users
          to persist their IP and port settings for the OpenRGB client
        </p>
        <p>
          This function checks if a configuration file exists and reads the server settings if it
          does. If not, it defaults to 'localhost' and port 6742.
        </p>
      </article>
    </main>
    <script src="/assets/js/script.js"></script>
  </body>
</html>
