// Themes: CSS custom property overrides per theme class.
// Applied to the <html> element via JS: document.documentElement.className = themeKey
// Base / default values live in abstracts/_variables.scss (:root block).

.light {
  --clr-body-bg: #cacaca;
  --clr-body-text: #0f0f0f;
  --clr-navbar-bg: #cacaca;
  --clr-navbar-text: #0f0f0f;
  --clr-container-bg: #d6d6d6;
  --clr-hamburger-bg: #0f0f0f;
  --clr-off-screen-menu-txt: #0f0f0f;
  --clr-link-visited: #b71c1c;

  --clr-code-bg: #e0e0e0;
  --clr-code-text: #0f0f0f;
  --clr-code-comment: #5c5c5c;
  --clr-code-keyword: #800080;
  --clr-code-string: #006400;
  --clr-code-func: #00008b;
  --clr-code-number: #8b4500;

  --clr-inline-code-bg: #b0b0b0;
  --clr-inline-code-text: #000000;
}

.midnight {
  --clr-body-bg: #0f0f0f;
  --clr-body-text: #cacaca;
  --clr-navbar-bg: #0f0f0f;
  --clr-navbar-text: #cacaca;
  --clr-container-bg: #1b1b1b;
  --clr-hamburger-bg: #cacaca;
  --clr-off-screen-menu-txt: #cacaca;
  --clr-link-visited: #b71c1c;

  --clr-code-bg: #161616;
  --clr-code-text: #cacaca;
  --clr-code-comment: #767676;
  --clr-code-keyword: #d57bdd;
  --clr-code-string: #98c379;
  --clr-code-func: #61afef;
  --clr-code-number: #e5c07b;

  --clr-inline-code-bg: #262626;
  --clr-inline-code-text: #e0e0e0;
}

.catppuccin-dark {
  --clr-body-bg: #11111b;
  --clr-body-text: #cdd6f4;
  --clr-navbar-bg: #0f0f0f;
  --clr-navbar-text: #cdd6f4;
  --clr-container-bg: #181825;
  --clr-hamburger-bg: #cdd6f4;
  --clr-off-screen-menu-txt: #cdd6f4;
  --clr-link-visited: #f38ba8;

  --clr-code-bg: #1e1e2e;
  --clr-code-text: #cdd6f4;
  --clr-code-comment: #6c7086;
  --clr-code-keyword: #cba6f7;
  --clr-code-string: #a6e3a1;
  --clr-code-func: #89b4fa;
  --clr-code-number: #fab387;

  --clr-inline-code-bg: #313244;
  --clr-inline-code-text: #eba0ac;
}

.dracula {
  --clr-body-bg: #191a21;
  --clr-body-text: #f8f8f2;
  --clr-navbar-bg: #191a21;
  --clr-navbar-text: #f8f8f2;
  --clr-container-bg: #282a36;
  --clr-hamburger-bg: #f8f8f2;
  --clr-off-screen-menu-txt: #f8f8f2;
  --clr-link-visited: #ff79c6;

  --clr-code-bg: #21222c;
  --clr-code-text: #f8f8f2;
  --clr-code-comment: #6272a4;
  --clr-code-keyword: #ff79c6;
  --clr-code-string: #f1fa8c;
  --clr-code-func: #8be9fd;
  --clr-code-number: #bd93f9;

  --clr-inline-code-bg: #44475a;
  --clr-inline-code-text: #50fa7b;
}

.nord {
  --clr-body-bg: #2e3440;
  --clr-body-text: #eceff4;
  --clr-navbar-bg: #2e3440;
  --clr-navbar-text: #eceff4;
  --clr-container-bg: #3b4252;
  --clr-hamburger-bg: #eceff4;
  --clr-off-screen-menu-txt: #eceff4;
  --clr-link-visited: #bf616a;

  --clr-code-bg: #242933;
  --clr-code-text: #d8dee9;
  --clr-code-comment: #616e88;
  --clr-code-keyword: #81a1c1;
  --clr-code-string: #a3be8c;
  --clr-code-func: #88c0d0;
  --clr-code-number: #b48ead;

  --clr-inline-code-bg: #434c5e;
  --clr-inline-code-text: #8fbcbb;
}

.gruvbox-dark {
  --clr-body-bg: #1d2021;
  --clr-body-text: #ebdbb2;
  --clr-navbar-bg: #1d2021;
  --clr-navbar-text: #ebdbb2;
  --clr-container-bg: #282828;
  --clr-hamburger-bg: #ebdbb2;
  --clr-off-screen-menu-txt: #ebdbb2;
  --clr-link-visited: #fb4934;

  --clr-code-bg: #1d2021;
  --clr-code-text: #ebdbb2;
  --clr-code-comment: #928374;
  --clr-code-keyword: #fb4934;
  --clr-code-string: #b8bb26;
  --clr-code-func: #83a598;
  --clr-code-number: #fabd2f;

  --clr-inline-code-bg: #3c3836;
  --clr-inline-code-text: #d3869b;
}

.tokyo-night {
  --clr-body-bg: #13141c;
  --clr-body-text: #c0caf5;
  --clr-navbar-bg: #13141c;
  --clr-navbar-text: #c0caf5;
  --clr-container-bg: #1a1b26;
  --clr-hamburger-bg: #c0caf5;
  --clr-off-screen-menu-txt: #c0caf5;
  --clr-link-visited: #f7768e;

  --clr-code-bg: #16161e;
  --clr-code-text: #c0caf5;
  --clr-code-comment: #565f89;
  --clr-code-keyword: #9d7cd8;
  --clr-code-string: #9ece6a;
  --clr-code-func: #7aa2f7;
  --clr-code-number: #ff9e64;

  --clr-inline-code-bg: #24283b;
  --clr-inline-code-text: #bb9af7;
}

.solarized-light {
  --clr-body-bg: #eee8d5;
  --clr-body-text: #657b83;
  --clr-navbar-bg: #eee8d5;
  --clr-navbar-text: #657b83;
  --clr-container-bg: #fdf6e3;
  --clr-hamburger-bg: #657b83;
  --clr-off-screen-menu-txt: #657b83;
  --clr-link-visited: #d33682;

  --clr-code-bg: #fdf6e3;
  --clr-code-text: #657b83;
  --clr-code-comment: #93a1a1;
  --clr-code-keyword: #859900;
  --clr-code-string: #2aa198;
  --clr-code-func: #268bd2;
  --clr-code-number: #d33682;

  --clr-inline-code-bg: #e0dac5;
  --clr-inline-code-text: #cb4b16;
}
