---
permalink: /v2/index.html
eleventyExcludeFromCollections: true
layout: false
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/" />
    <link rel="canonical" href="/" />
    <title>Redirecting to Tasrif Portfolio...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/">Tasrif Portfolio</a>...</p>
  </body>
</html>
