// =============================================================================
// Font faces
// =============================================================================

@font-face {
  font-family: 'Iosevka Webfont';
  font-style: normal;
  src: url('../fonts/iosevka-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka Webfont Bold';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/iosevka-ss08-bold.woff2') format('woff2');
}

@font-face {
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: JetBrains Mono Bold;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/JetBrainsMono-Bold.woff2') format('woff2');
}
