// =============================================================================
// Projects listing page
// =============================================================================

.page--projects .page__content p,
.page--projects .page__content h1 {
  text-align: left;
  padding: 0 5%;
}

.page--projects .page__content a {
  color: var(--clr-body-text);
  word-wrap: break-word;
}

.page--projects .page__content a:visited {
  color: var(--clr-link-visited);
}
