// =============================================================================
// WallpaperSync project page
// =============================================================================

.page--wallpapersync .page__content h1,
.page--wallpapersync .page__content h2,
.page--wallpapersync .page__content h3,
.page--wallpapersync .page__content p {
  text-align: left;
}

.page--wallpapersync .page__content p {
  text-indent: 40px;
  padding: 0;
  line-height: 30px;
}

.page--wallpapersync .page__content a {
  color: var(--clr-body-text);
}

.page--wallpapersync .page__content a:visited {
  color: var(--clr-link-visited);
}

.page--wallpapersync .page__content .code-block {
  position: relative;
  outline: 1px solid var(--clr-body-text);
}

.page--wallpapersync .page__content code {
  white-space: pre-wrap;
  word-wrap: break-word;
  outline: 1px solid var(--clr-body-text);
  padding: 3px 10px;
}

.page--wallpapersync .page__content .code-block code {
  outline: none;
}

.page--wallpapersync .page__content .code-block pre {
  padding: 10px 20px;
  line-height: 1.75;
}

.page--wallpapersync .page__content img {
  margin: 50px auto;
  outline: 1px solid var(--clr-body-text);
  display: block;
  width: 75%;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}
