// Main entry point for styles

@use 'abstracts/variables';
@use 'base/fonts';
@use 'base/base';
@use 'components/nav';
@use 'layout/layout';
@use 'pages/page-home';
@use 'pages/page-about';
@use 'pages/page-wallpapersync';
@use 'pages/page-gallery';
@use 'layout/media-queries';
// @use 'pages/page-projects';
// @use 'pages/page-markdown-list';
// @use 'pages/page-markdown.scss';
@use 'components/markdown';
@use 'vendors/syntax';
