<!doctype html>
<html lang="en">
  <head>
    <link
      rel="preload"
      href="/assets/fonts/JetBrainsMono-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/JetBrainsMono-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="page page--projects" data-page="projects">

    {% include "drawer.njk" %}

    {% include "navbar.njk" %}


    <main class="page__content">
      <h1><a href="/projects/wallpapersync/">WallpaperSync:</a></h1>
      <p>
        WallpaperSync is a Python script that dynamically adjusts the color of connected RGB LED
        devices based on your desktop wallpaper using OpenRGB. The script continuously monitors the
        system wallpaper for changes and updates the LED colors to match the most prominent color in
        the wallpaper. This ensures a visually cohesive environment that aligns with your desktop's
        aesthetics.
      </p>
      <p>
        This is my second big project which I gave a lot of time working on (first project is
        private for now). I made it free to use for people and hopefully it will be useful to you
        guys. If there is any problems or recommedations, please let me know!
      </p>
      <p>
        GitHub Link:
        <a href="https://github.com/zephyr73/WallpaperSync"
          >https://github.com/zephyr73/WallpaperSync</a
        >
      </p>
    </main>
    <script src="/assets/js/script.js"></script>
  </body>
</html>
